@import url(https://fonts.googleapis.com/css?family=Cantarell:400,700);
@font-face {
    font-family: legofont;
    src: url(legofont.ttf);
}
@font-face {
    font-family: roboto;
    src: url(roboto.ttf);
}
body, html {
    background-color: #ff4d4d;
}
.home-inner {
    margin-left: auto;
    margin-right: auto;
    color: #ffffff;
    background-color: #ff4d4d;
    font-family: roboto;
    font-size: 24px;
    width: 24em;
    margin: 0 auto;
    text-align: center;
}
.home-inner a {
    color: #ffffff;
    border-bottom: 2px solid #ff4d4d;
    text-decoration: none;
    /*-o-transition: .25s;
	-ms-transition: .25s;
	-moz-transition: .25s;
	-webkit-transition: .25s;*/
	transition: border-color .25s;
    cursor: pointer;
}
.home-inner a:hover {
    border-bottom: 2px solid #ffffff;
}





.page-outer {
    display: table;
    position: absolute;
    height: 99%;
    width: 99%;
    opacity: 0;
    transition: opacity .3s ease-in-out;
}
.page-middle {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    color: #ffffff;
    font-family: roboto;
    font-size: 25px;
}
.page-inner {
	margin-left: auto;
	margin-right: auto;
	background-color: #ffffff;
	color: #000000;
	width: 50em;
	font-family: "Cantarell", sans-serif;
	font-size: 16px;
	margin: 0 auto;
	text-align: left;
	box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
	padding: 15px;
}
.page-inner a {
	color: #ff4d4d;
	border-bottom: 2px solid #ffffff;
	text-decoration: none;
	transition: border-color .25s, color .25s;
	cursor: pointer;
}
.page-inner a:hover {
	border-bottom: 2px solid #ff4d4d;
}



.video-link {
    float: left;
    margin: 10px;
    padding: 5px;
    max-width: 216px;
    height: 170px;
}


button.accordion {
    background-color: #eeeeee;
    color: #000000;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 16px;
    transition: .25s;
}
button.accordion.active, button.accordion:hover {background-color: #dddddd;}
button.accordion:after {
    content: '\02795';
    color: #777777;
    float: right;
    font-size: 13px;
    margin-left: 5px;
}
button.accordion.active:after {content: '\2796';}
div.panel {
    padding: 0 18px;
    padding-bottom: 5px;
    background-color: #ffffff;
    max-height: 0;
    overflow: hidden;
    transition: 0.25s ease-in-out;
}
div.panel.show {
    max-height: 500px;
}



.bgimage {
    background-position: center;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    box-shadow: 0px 8px 8px 0px rgba(0,0,0,0.2);
}


.barbg {
	position: relative;
	width: 100%;
	height: 2px;
	background-color: #bbbbbb;
}
.barfg {
	position: absolute;
	width: 0%;
	height: 100%;
	background-color: green;
}




.dropdown {
	position: relative;
	display: inline-block;
}
.dropdown-content {
	display: block;
	color: #000000;
	opacity: 0;
	height: 0;
	visibility: hidden;
	right: 0;
	top: 1.5em;
	position: absolute;
	z-index: 1;
	background-color: #ffffff;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}
.dropdown-content a {
	color: #000000;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border: none;
	transition: background-color .25s;
	border-bottom: none;
}
.dropdown-content a:hover {background-color: #dddddd; border-bottom: none}
.dropdown-content a:active {background-color: #bbbbbb;}
